body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}


.user-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 140vh;
    width: 100vw;
    position: relative;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Change from flex-start to center */
    width: 100%;
    padding: 1vw 3vw 0vw 3vw;
    box-sizing: border-box;
    position: relative; /* Change from absolute to relative */
}

.user-whole-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-top: -2vw;
    margin-left: -2vw;
}


.logo-title {
    font-family: Century, serif;
    font-size: clamp(1vw, 2.25vw, 3.25vw); /* Adjust clamp() function */
    margin-left: 0.59vw; /* Adjust value */
}

.user-logo {
    height: auto;
    width: clamp(50px, 12vw, 150px); /* Adjust clamp() function */
}

.user-title-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
    align-self: start;
    justify-content: center;
    margin-top: 2vw;
    padding-left: 30px;
}

.user-title {
    line-height: 1;
    text-align: center;
    font-family: 'Century', serif;
    font-size: clamp(2vw, 4vw, 8vw); /* Adjust clamp() function */
    margin-bottom: 2vmin;
}

/* .title {
    flex-grow: 1;
    text-align: center;
    margin-top: -25px;
} */

.user-buttons {
    display: flex;
    gap: 20px;
    /* margin-top: 2px; */
    margin-top: -1vw;
}

.user-imgbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.user-center-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.user-modes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-grow: 1; */
    padding: 3vh 3rem;
    background-color: #0E3239;
    color: #fff;
    width: 100%;
    height: 75vh;
    position: relative;
    top: 45.7vh;
}

.user-modes-title {
    margin-bottom: 2vmin;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: calc(15px + 1.8vw)
}

.user-cards {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 2vmin;
    gap: 15vw;
}


@media (max-width: 600px) {
    .logo-title {
      font-size: clamp(0.5vw, 1.5w, 3vw); /* Adjust clamp() function */
    }
  
    .user-logo {
      width: clamp(30px, 7vw, 130px); /* Adjust clamp() function */
    }
  
    .user-title {
      font-size: clamp(1.2vw, 3.5vw, 4vw); /* Adjust clamp() function */
    }
  }