body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}


.user-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 140vh;
    width: 100vw;
    position: relative;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.user-whole-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: -1vw;
    margin-top: -52px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit; */
}

.logo-title {
    font-family: Century, serif;
    font-size: calc(10px + 1.25vw);
    margin-left: 0.3vw;
    /* margin-left: -15px;
    margin-top: -15vh; */
}

.user-logo {
    height: 24vmin;
    /* height: 24vmin;
    width: auto;
    position: relative;
    top: -8vmin; */
}

.user-title-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
    align-self: start;
    justify-content: center;
    margin-top: -3px;
    padding-left: 30px;
}

.user-title {
    line-height: 1;
    text-align: center;
    font-family: 'Century', serif;
    font-size: calc(12px + 7vmin);
    margin-bottom: 2vmin;
}

/* .title {
    flex-grow: 1;
    text-align: center;
    margin-top: -25px;
} */

.user-buttons {
    display: flex;
    gap: 20px;
    margin-top: 4px;
}

.user-imgbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.user-center-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.user-modes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-grow: 1; */
    padding: 3vh 3rem;
    background-color: #0E3239;
    color: #fff;
    width: 100%;
    height: 75vh;
    position: relative;
    top: 66vh;
}

.user-modes-title {
    margin-bottom: 2vmin;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: calc(15px + 1.8vw)
}

.user-cards {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 2vmin;
    gap: 15vw;
}